@mixin heading-style{
    color: blue ;
    font-size: 60px ;
    letter-spacing: 30px ;
}

.header {
    h1 {
        @include heading-style ;
    }
}
// .header{
//     h1 {
//         color: red ;
//         font-size: 40px ;
//         letter-spacing: 20px ;
//     }
// }
.footer {
    h1 {
        @include heading-style ;
    }
}
// .footer {
//     h1 {
//         color: red ;
//         font-size: 40px ;
//         letter-spacing: 20px ;
//     }
// }