@mixin heading-style($color ,$font-size,$letter-spacing){
    color: $color ;
    font-size: $font-size ;
    letter-spacing: $letter-spacing ;
    $translate : translate(100px,200px) ;
    transform: $translate ;
}

.header {
    h1 {
        @include heading-style(blue , 60px , 30px) ;
    }
}
// .header{
//     h1 {
//         color: red ;
//         font-size: 40px ;
//         letter-spacing: 20px ;
//     }
// }
.footer {
    h1 {
        @include heading-style(red , 40px , 10px) ;
    }
}
// .footer {
//     h1 {
//         color: red ;
//         font-size: 40px ;
//         letter-spacing: 20px ;
//     }
// }